@page
@model MyApp.Namespace.SendModel
@{
}

<form>
    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="subjectInput">Subject</label>
        <input type="text" class="form-control" id="subjectInput" placeholder="Your subject here...">
    </div>    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Email Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>